.container {
  margin: 0 auto;
  width: 840px;
  text-align:center;
}

body{
  background-color:pink;
}


h1{
  color:white;
  font-size:5em;
  font-family: Codystar;
  font-style: upcase;
}

img{display:inline;}


